NEXT_PUBLIC_SITE_URL=https://gratitudebuilds.com
NEXT_PUBLIC_WHATSAPP_NUMBER=2347041022336
NEXT_PUBLIC_CONTACT_EMAIL=hello@gratitudebuilds.com
NEXT_PUBLIC_LINKEDIN_URL=https://linkedin.com/in/gratitude-olanibi-8b34a82b9
NEXT_PUBLIC_GITHUB_URL=https://github.com/gratitude234
