# dependencies
/node_modules

# next
/.next/
/out/

# testing
/coverage/
/playwright-report/
/test-results/

# local
.DS_Store
*.pem
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
